
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>头部</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="headerwrap"> 
<div class="welcome">"WelCome"</div>
    <img src="images/logo.png" class="logo"/>
    <ul id="subnav">
     <li class="home"><a href="#" target="_blank">进入网站</a></li>
      <li class="mpwd"><a href="#" target="mainFrame">修改密码</a></li>
      <li class="logout"><a href="#">退出</a></li>
    </ul>
</div>
</body>
</html>

