<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="left_html">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>左边菜单</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script language="javascript" src="js/jquery.js"></script>
		<script language="javascript" src="js/menu.js"></script>
	</head>
	<body>
		<div class="l_sub">
			<div id="subsider">
				<div class="item">
					<h2><a href="#">新闻管理</a></h2>
					<ul>
						<li><h3><a href="newsAdd.html" target="mainFrame">新闻发布</a></h3></li>
						<li><h3><a href="newsList.html" target="mainFrame">新闻列表</a></h3></li>
					</ul>
				</div>
				<div class="item">
					<h2><a href="#">商品管理</a></h2>
					<ul>
						<li class="block">
							<h3><a href="#">品牌管理</a></h3>
							<div class="subitems">
								<p><a href="categoryAdd.html" target="mainFrame">添加品牌</a></p>
								<p><a href="categoryList.html" target="mainFrame">品牌列表</a></p>
							</div>
						</li>
						<li class="block">
							<h3><a href="#">商品管理</a></h3>
							<div class="subitems">
								<p><a href="productAdd.html" target="mainFrame">添加商品</a></p>
								<p><a href="productList.html" target="mainFrame">商品列表</a></p>
							</div>
						</li>
					</ul>
				</div>
				<div class="item">
					<h2><a href="#">用户管理</a></h2>
					<ul>
						<li><h3><a href="userList.html" target="mainFrame">用户列表</a></h3></li>
					</ul>
				</div>
				<div class="item">
					<h2><a href="#">管理员管理</a></h2>
					<ul>
						<li><h3><a href="adminAdd.html" target="mainFrame">添加管理员</a></h3></li>
						<li><h3><a href="adminList.html" target="mainFrame"> 管理员列表</a></h3></li>
					</ul>
				</div>

			</div>
			<div class="rightcopy">版权说明2020年</h2>
			</div>
		</div>
	</body>

</html>
