<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>主区域</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/jquery.js"></script>
<script language="javascript" src="js/script.js"></script>
<script language="javascript" src="js/utils.js"></script>
<script language="javascript" src="js/validator.js"></script>
<link href="js/calendar/Calendar.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/calendar/jquery.calendar.js" type="text/javascript"></script>
<script src="ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.env.isCompatible = true;
</script>
<script language="javascript" type="text/javascript">
    $(function () {
        var url =decodeURI(decodeURI(location.search));
        var str=url.substr(1);
        if (str=="update"){
            var session=sessionStorage.getItem("rowJson");
            var con = JSON.parse(session)
            // console.log("新页面"+con)
            $('#nid').val(con.nid)
            $('#ntitle').val(con.ntitle)
            $('#ndesc').val(con.ndesc)
            $('#editor').val(con.ncontent)
            $('#toFunction').removeAttr("onclick");
            $('#toFunction').attr('onclick','updateNews()')
        }
    })
function addNews(){
    var news = new FormData(document.getElementById("addNews"));
    var content = CKEDITOR.instances.editor.getData();
    news.set("ncontent",content)
    // console.log(content)
    $.ajax({
        url: "/admin/addNews",//后台的接口地址
        type: "post",//post请求方式
        data: news,//参数
        contentType : false,
        processData : false,
        success: function (result) {
            if (result) {
                alert('添加成功');
            } else {
                alert('添加失败');
            }
        }, error: function () {
            alert("操作失败~");
        }
    })
}
function updateNews() {
    var news = new FormData(document.getElementById("addNews"));
    var content = CKEDITOR.instances.editor.getData();
    news.set("ncontent",content)
    $.ajax({
        url: "/admin/updateNews",//后台的接口地址
        type: "post",//post请求方式
        data: news,//参数
        cache: false,
        processData: false,
        contentType: false,
        success: function (result) {
            if (result.isok == true) {
                alert('修改成功');
                location.href="newsList.html"
            } else {
                alert(result.message);
            }
        }, error: function () {
            alert("操作失败~");
        }
    });
}
</script>
</head>
<body id="frmain">
	<div id="main">
	        
           	<div class="title"><h2><span>当前位置：</span><label>发布信息[新闻中心]</label></h2></div>
            <ul class="optlist">
                <li class="listopt"><a href="#">[新闻中心]信息列表</a></li>
            </ul>
           <div class="opttips">
           	<h3><label>操作说明：</label>在“摘要”输入简要描述。</h3>
           </div>
           <form action="" method="post"id="addNews" enctype="multipart/form-data">
           <table border="0" cellspacing="0" class="tbedit">
                  <tr>
                    <th width="280" align="right" scope="row">*标题：</th>
                    <td align="left">
                        <input type="hidden" name="nid" type="text" id="nid" value=""/>
                      <input type="text" name="ntitle" id="ntitle" class="longtxt" value="" /><span class="errorinfo" id="">请输入名称</span>
                    </td>
                  </tr>
                  <tr>
                     <th width="280" align="right" scope="row">摘要：</th>
                    <td align="left">
                      <textarea name="ndesc" id="ndesc" class="contxt"></textarea></td>
                  </tr>
                  <tr>
                     <th width="280" align="right" scope="row">*内容：</th>
                    <td align="left">
                      <textarea  name="ncontent" id="editor"></textarea>
                        <script>
                            CKEDITOR.replace( 'editor' );
                        </script>
                    </td>
                   </tr>
                  <tr>
                    <th scope="row">&nbsp;</th>
                    <td align="left"> 
                      <input name="" type="button" id="toFunction" onclick="addNews()" value="添加"  class="savebt"/></td>
                  </tr>
                </table>
	</form>
	</div>
</body>
</html>