<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>主区域</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script language="javascript" src="js/jquery.js"></script>
		<script language="javascript" src="js/script.js"></script>
		<script>
			//重复利用for循环和添加分页
			function forEachAdd(result) {
				for (var i=0;i<result.records.length;i++){
					var item = result.records[i];
					// console.log(item);
					var $row = JSON.stringify(item).replace(/\"/g,"'");//row的是一个对象
					// console.log($row)
					var tr = $('<tr></tr>');
					tr.append($('<td>'+item.nid+'</td>'));
					tr.append($('<td>'+item.ntitle+'</td>'));
					tr.append($('<td>'+item.ndate+'</td>'));
					tr.append($('<td>'+item.owner+'</td>'));
					var tditem = $('<td class="opt"></td>');
					tditem.append($(' <button onclick="onUpdate('+$row+')"   type="button">修改</button>'));
					tditem.append($(' <button onclick="deleteNews(this,'+item.nid+')" type="button">删除</button>'));
					tr.append(tditem);
					$('#tbody').append(tr);
				}
				// 分页数据显示
				$('#page_nav').append(getPageUl(result));
			}
			//使用Ajax获取数据
			var key=$('#keyword').val()
			$.post('/admin/queryNews', {'key':key}, function (result) {
				// console.log("result"+result);
				forEachAdd(result);
			});
			//跳转页面的操作
			function jumpPage(page) {//分页模型数据
				$.post('/admin/queryNews', {'pn':page,'key':key}, function (result) {
					$('#tbody').empty(); $('#page_nav').empty();
					forEachAdd(result);
				});
			}
			//搜索
			function getSearchRes(){
				key=$('#keyword').val()
				$.post('/admin/queryNews', {'key':key}, function (result) {
					console.log("result"+result);
					$('#tbody').empty(); $('#page_nav').empty();
					forEachAdd(result);
				});
			}
			//定义获取分页节点的函数
			function getPageUl(result){
				var ulitem = $('<ul class="pagination"></ul>');
				ulitem.append($(' <li class="page-item">' +
						'             当前页码：'+result.pageInfo.pageNum+'【共'+result.pageInfo.total+'条记录，'+result.pageInfo.pages+'页】' +
						'            </li>'));
				ulitem.append($('<li class="page-item"><a class="page-link"\n' +
						'                                         href="javascript:jumpPage(1)">首页</a></li>'));
				if(result.pageInfo.hasPreviousPage){
					ulitem.append($('<li class="page-item"><a class="page-link" href="javascript:jumpPage('+(result.pageInfo.prePage)+')">上一页</a> </li>'));
				}
				ulitem.append($('<li className="page-item"><a className="page-link" href="javascript:jumpPage('+result.pageInfo.pageNum+')">'+result.pageInfo.pageNum+'</a>\n' +
						'            </li>'));
				if(result.pageInfo.hasNextPage){
					ulitem.append($('<li class="page-item"><a class="page-link" href="javascript:jumpPage('+(result.pageInfo.nextPage)+')">下一页</a> </li>'));
				}
				ulitem.append($('<li className="page-item"><a className="page-link"' +
						'                                         href="javascript:jumpPage('+result.pageInfo.pages+')">尾页</a>' +
						'            </li>'));
				//返回节点
				return ulitem;
			}


			//删除的操作
			function deleteNews(tritem,nid) {//入参跳转的页码
				function del() {
					var msg = "确定要删除吗？";
					if (confirm(msg) == true) {
						return true;
					} else {
						return false;
					}
				}
				if (del()){
					$.post('/admin/deleteNews', {"id":nid}, function (result) {
						if (result == true) {
							alert('删除成功');
							$('#tbody').remove(tritem.parentNode.parentNode);
						} else {
							alert('删除失败，请重新操作');
						}
					});
					// 删除当前tr节点
					tritem.parentNode.parentNode.remove();
				}
			}
			//修改
			function onUpdate(obj) {
				console.log(obj)
				sessionStorage.setItem("rowJson",JSON.stringify(obj));
				location.href="newsAdd.html?update";
			}
		</script>
	</head>
	<body id="frmain">
		<div id="main">
			<div class="title">
				<h2><span>当前位置：</span><label>[新闻中心]信息列表</label></h2>
			</div>
			<ul class="optlist">
				<li class="addopt"><a href="#">添加</a></li>
			</ul>
			<div id="search">
				<form action="#" method="get" >
					<p><label>关键字:</label><input type="text" name="key" class="ltxt" placeholder="仅标题" value="" id="keyword" /></p>
					<input type="button" onclick="getSearchRes()" name="" value="搜索" class="searchbt" />
				</form>
			</div>

			<form name="form2" id="form2" method="post" action="">
				<table cellspacing="0" class="tblist">
					<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">标题</th>
						<th scope="col">发布日期</th>
						<th scope="col">发布者</th>
						<th scope="col">操作</th>
					</tr>
					</thead>

					<tbody id="tbody">

					</tbody>

				</table>

			</form>

			<div class="pagenav">
				<nav aria-label="Page navigation example" id="page_nav"
					 style="margin-left: 330px;">

				</nav>
			</div>

		</div>

	</body>

</html>
